<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ygc.estatedecoration">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.home.MyStoreAvtivity"/>
        <activity android:name=".activity.home.MyVisitorActivity"/>
        <activity android:name=".activity.home.TransactionManageDetailActivity"/>
        <activity android:name=".activity.home.TransactionManageActivity"/>
        <activity android:name=".activity.home.TransactionManageOfferActivity"/>
        <activity
            android:name=".activity.home.NeedHallActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".activity.my.SettingActivity"/>
        <activity android:name=".activity.my.AuthenticationActivity"/>
        <activity android:name=".activity.my.MoneyBagActivity"/>
        <activity android:name=".activity.my.SettingSaleActivity"/>
        <activity android:name=".activity.login.ForgetPwdActivity"/>
        <activity android:name=".activity.login.ServiceRegisterActivity"/>
        <activity android:name=".activity.login.UserRegisterActivity"/>
        <activity android:name=".activity.login.ServiceWeiXinLoginActivity"/>
        <activity android:name=".activity.login.UserWeiXinLoginActivity"/>

        <meta-data
            android:name="design_width"
            android:value="640"/>
        <meta-data
            android:name="design_height"
            android:value="1136"/>

        <activity android:name=".activity.my.GuaranteeMoneyActivity">
        </activity>
        <activity android:name=".activity.my.CollectionActivity">
        </activity>
        <activity android:name=".user_activity.UserHomeActivity">
        </activity>
    </application>

</manifest>