<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ygc.estatedecoration">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/hetongtouxiang"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.home.MyStoreActivity"/>
        <activity android:name=".activity.home.MyVisitorActivity"/>
        <activity android:name=".activity.home.TransactionManageDetailActivity"/>
        <activity android:name=".activity.home.TransactionManageActivity"/>
        <activity android:name=".activity.home.TransactionManageOfferActivity"/>
        <activity
            android:name=".activity.home.NeedHallActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".activity.my.SettingActivity"/>
        <activity android:name=".activity.my.AuthenticationActivity"/>
        <activity android:name=".activity.my.MoneyBagActivity"/>
        <activity android:name=".activity.my.SettingSaleActivity"/>
        <activity android:name=".activity.login.ForgetPwdActivity"/>
        <activity android:name=".activity.login.ServiceRegisterActivity"/>
        <activity android:name=".activity.login.UserRegisterActivity"/>
        <activity android:name=".activity.login.ServiceWeiXinLoginActivity"/>
        <activity android:name=".activity.login.UserWeiXinLoginActivity"/>
        <activity android:name=".activity.login.ForgetpanyPwdActivity"/>

        <meta-data
            android:name="design_width"
            android:value="640"/>
        <meta-data
            android:name="design_height"
            android:value="1136"/>

        <activity android:name=".activity.my.GuaranteeMoneyActivity"/>
        <activity android:name=".activity.my.CollectionActivity"/>
        <activity android:name=".user_activity.UserHomeActivity"/>
        <activity android:name=".user_activity.UserSearchActivity"/>
        <activity android:name=".user_activity.CaseDetailActivity"/>
        <activity android:name=".user_activity.UserCollectionActivity"/>
        <activity android:name=".user_activity.UserGoodsDetailActivity"/>
        <activity android:name=".activity.home.DemandAndProgressActivity"/>
        <activity android:name=".user_activity.UserFindDesigerActivity"/>
        <activity android:name=".activity.my.SettingBankCardActivity"/>
        <activity android:name=".activity.my.SettingAddBankCardActivity"/>
        <activity android:name=".activity.my.AboutOurActivity"/>
        <activity
            android:name=".activity.my.BackOpinionActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".user_activity.UserFindSupervisorActivity"/>
        <activity android:name=".activity.my.AccountDetailActivity"/>
        <activity android:name=".activity.my.TopUpAndTiXianActivity"/>
        <activity
            android:name=".activity.home.InitiatingAcceptanceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.SupplementaryContractActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.InitiatingContractActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".user_activity.UserGoodListActivity"/>
        <activity android:name=".user_activity.UserShopCarActivity"/>
        <activity android:name=".user_activity.ConfirmBuyActivity"/>
        <activity android:name=".activity.my.ServerMyAnLiActivity"/>
        <activity android:name=".activity.my.CaseEffectPicActivity"/>
        <activity android:name=".activity.home.ReadInitiatingContractActivity"/>
        <activity android:name=".user_activity.UserAllOrderActivity"/>
        <activity android:name=".user_activity.UserMsgActivity"/>
        <activity android:name=".activity.home.ServerMsgActivity"/>
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".activity.my.SelectBankCardActivity">
        </activity>
        <activity android:name=".user_activity.UserProjectProgressActivity">
        </activity>
        <activity android:name=".activity.my.ActivitiesActivity">
        </activity>
        <activity android:name=".activity.my.ActivitiesDetailsActivity">
        </activity>
        <activity android:name=".activity.my.LaunchActivitesActivity">
        </activity>
        <activity android:name=".activity.my.MyBrightActivity">
        </activity>
        <activity android:name=".activity.my.AddMyBrightActivity">
        </activity>
        <activity android:name=".activity.my.WarrantyMoneyActivity">
        </activity>
    </application>

</manifest>